* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

header {
  min-height: 900px;
  background-color: #9932CC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .icons {
  width: 20px;
}

header .container {
  background-color: white;
  border-radius: 30px;
}

header .container .row {
  border-radius: 30px;
}

@media (max-width: 767px) {
  header .container .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

header .container .row .container1 {
  height: 850px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .container .row .container1 nav {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container .row .container1 nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 767px) {
  header .container .row .container1 nav ul .li {
    display: none;
  }
}

header .container .row .container1 nav .menu-icon {
  text-align: right;
}

header .container .row .container1 nav .menu-icon img:hover {
  background-color: yellow;
  border-radius: 30px;
}

header .container .row .container1 nav .menu-icon .icons {
  width: 20px;
}

header .container .row .container1 .content1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

header .container .row .container1 .content1 .bag-img img {
  width: 5rem;
}

header .container .row .container1 .content2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 767px) {
  header .container .row .container1 .content2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header .container .row .container1 .content2 .photos {
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border: 1px solid black;
  border-radius: 15px;
}

@media (max-width: 767px) {
  header .container .row .container1 .content2 .photos {
    border: none;
  }
}

header .container .row .container1 .content2 .photos .five-img {
  width: 150px;
  height: auto;
}

@media (max-width: 767px) {
  header .container .row .container1 .content2 .photos .five-img {
    width: 19rem;
    border-radius: 30px;
  }
}

@media (max-width: 767px) {
  header .container .row .container1 .content2 .photos .text {
    margin-left: 4rem;
    width: 10rem;
  }
}

header .container .row .container1 .content3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 10px;
}

@media (max-width: 767px) {
  header .container .row .container1 .content3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header .container .row .container1 .content3 .photos {
  width: 180px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border: 1px solid black;
  border-radius: 15px;
  margin-right: 25px;
}

@media (max-width: 767px) {
  header .container .row .container1 .content3 .photos {
    border: none;
  }
}

header .container .row .container1 .content3 .photos .five-img {
  width: 150px;
  height: auto;
}

@media (max-width: 767px) {
  header .container .row .container1 .content3 .photos .five-img {
    width: 19rem;
    border-radius: 30px;
  }
}

@media (max-width: 767px) {
  header .container .row .container1 .content3 .photos .text {
    margin-left: 4rem;
    width: 10rem;
  }
}

header .container .row .container2 {
  height: 850px;
}

@media (max-width: 767px) {
  header .container .row .container2 {
    padding-left: 3rem;
  }
}

header .container .row .container2 .x-icon {
  text-align: center;
  padding: 40px 0px;
  margin-left: 15px;
}

header .container .row .container2 .x-icon .cancel-icon {
  width: 50px;
  text-align: center;
}

header .container .row .container2 .box .box1 {
  border: 1px solid black;
  border-radius: 20px;
  width: 18rem;
  padding-left: 5px;
}

header .container .row .container2 .box .box1 .at-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .container .row .container2 .box .box1 .at-icon p {
  margin-top: 15px;
  margin-left: 10px;
}

header .container .row .container2 .box .box2 {
  border: 1px solid black;
  border-radius: 20px;
  width: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 5px;
  margin-top: 15px;
}

header .container .row .container2 .box .box2 .shipping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .container .row .container2 .box .box2 .shipping p {
  margin-top: 15px;
  margin-left: 10px;
}

header .container .row .container2 .box .box3 {
  border: 1px solid black;
  border-radius: 20px;
  width: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 5px;
  margin-top: 15px;
}

header .container .row .container2 .box .box3 .payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .container .row .container2 .box .box3 .payment p {
  margin-top: 15px;
  margin-left: 10px;
}

header .container .row .container2 .box4 {
  width: 18rem;
  padding-left: 15px;
  margin-top: 15px;
}

header .container .row .container2 .box4 .span {
  margin-left: 7rem;
}

header .container .row .container2 .box4 .free {
  margin-left: 9rem;
}

header .container .row .container2 .box4 .price {
  margin-left: 6rem;
}

header .container .row .container2 .button {
  width: 18rem;
  text-align: right;
  margin-top: 30px;
}

header .container .row .container2 .button button {
  border-radius: 10px;
  padding: 5px 20px;
  background-color: orange;
}
/*# sourceMappingURL=style.css.map */